:root {
  --profile-image-size: 150px;
  font-family: "Quicksand";
}
body {
  margin: 0; 
}

ul {
  padding: 0;
}

header {
  text-align: center;
  padding-bottom: 100px;
  line-height: 1.2;
  background: url('img/winter-finland.JPG') no-repeat top center;
  background-size: cover;
}

header .profile-image {
  margin-top: 50px;
  width: var(--profile-image-size);
  height: var(--profile-image-size);
  border-radius: 50%;
  border: 3px solid #f9f9f9;
}

.main-nav {
  width: 100%;
  padding:10px;
  box-sizing: border-box;
  background: #e97f33;
  text-align: center;
  display: flex;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.nav li {
  padding: 10px;
}
.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.nav a:hover {
  color: #fff;
  text-decoration: none;
}

p a {
  color: #ffc205;
}

p a:hover {
  color: #fff;
  text-decoration: underline;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card {
  margin: 50px;
  padding: 40px 40px;
  text-align: left;
  background: #B05592;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  flex-basis: 40%;
}

.card h2 {
  color: #ffc205;
}

.card p, .card ul {
  color: #fff;
}

.card:hover {
  border-bottom-color: #ffc205;
}

@media (min-width: 900px) {
  .card-container {
    flex-direction: row;
  }
}

footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  list-style-type: none;
  display:flex;
}

footer ul li{
  margin-left: 7.5px;
  margin-right: 7.5px;  
}

a.social {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size:30px;
}
a.wordpress {
  background-image: url(img/wordpress.svg);
}

a.github {
  background-image: url(img/github.svg);
}

a.pinterest {
  background-image: url(img/pinterest.svg);
}