header {
    text-align: center;
    padding-top: 80px;
  }
  header {
    line-height: 1.2;
  }
  header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #f9f9f9;
  }
