* {
    box-sizing: border-box;
    text-align: center;
    font-family: "Quicksand";
}

html {
    background-color:#ebebeb;
}

html, body {
    height: 100%;
}

h1, body {
    margin: 0;
}

.container {
    background-color: #f9f9f9;
    padding-top: 1em;
    margin: 0 auto;
    height: 100%;
    width: 60%; 
    min-width: 360px;
}

.top-container-contents {
    padding: 20px;
}

ul li {
    list-style-type: none;
    padding: 10px;
    background-color: White;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: #444;
}

.profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #ebebeb;
    padding: 10px 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.portfolio-image {
    width:50%;
    padding-bottom: 3em;
}

main {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-container {
    padding:20px;
}

@media (min-width: 768px) {
    .container {
        width: 60%;
        max-width: 1000;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 80%;
        max-width: 1000;
    }
    .h1 {
        float: left;
    }
    .main-nav {
        float: right;
    }
    .main-nav li {
        display: inline-block;
        margin-left: 15px;
    }
}

.upper {
    text-transform: uppercase;
}