* {
    box-sizing: border-box;
}

html {
    background-color: #f4f4f4;
}

html, body {
    height: 100%;
}

h1, body {
    margin: 0;
}
.container {
    background-color: white;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
    height:100%;
    width: 60%;

}

@media (min-width: 768px) {
    .container {
        width: 60%;
        max-width: 1000;
    }
    
}

@media (min-width: 1024px) {
    .container {
        width: 80%;
        max-width: 1000;
    }
    .h1 {
        float: left;
    }

    .main-nav {
        float: right;
    }
    .main-nav li{
        display: inline-block;
        margin-left:15px;
    }
}

.upper {
    text-transform:uppercase;
}