* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Quicksand";
}

html {
  background-color: #ebebeb;
}

html, body {
  height: 100%;
}

h1, body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

a:hover {
  color: #9c26b0;
}

.container {
  padding-top: 1em;
  margin: 0 auto;
  height: 100%;
  width: 60%;
  min-width: 360px;
}

.top-container-contents {
  padding: 20px;
}

ul li {
  list-style-type: none;
  padding: 10px;
  background-color: White;
  margin-bottom: 10px;
}

ul {
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: #444;
}

.portfolio-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

.main-container {
  /* Nomrally, position static is default. 
    Width 100% will look at the first element that is not position static and takes the width from that. 
    Position relative means the children of this element will take its width. */
  position: relative;
}

div.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/img/leannewong-profile.png);
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ebebeb;
  width: 60vw;
  height: 30vw;
  padding: 1em;
  border-radius: 5px;
}

.columnfloat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: white;
}

.section {
  padding: 50px 30px;
}

.contact {
  background-color: #f6f6f6;
}

hr {
  margin: 20px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 60%;
    max-width: 1000;
  }
  
  ul li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f6f6f6;
  }
  .flex {
    display: flex;
    flex-direction: row;
  }
  .flex p {
    order: -1;
    width: 60%;
    text-align: left;
    margin: 1em;
  }
  div.profile-image {
    width: 40vw;
    height: 20vw;
    padding: 1em;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
    max-width: 1000;
  }
  h1 {
    float: left;
  }
  .main-nav {
    float: right;
  }
  .main-nav li {
    display: inline-block;
    margin-left: 15px;
  }
}

.upper {
  text-transform: uppercase;
}